## -*- coding: utf-8 -*-
<%inherit file="story.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    <style>

.new-carousel {
    position: relative;
}

.new-carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.new-carousel-open:checked + .new-carousel-item {
    position: static;
    opacity: 100;
}

.new-carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.new-carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.new-carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.new-carousel-control.prev {
    left: 2%;
}

.new-carousel-control.next {
    right: 2%;
}

.new-carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#new-carousel-1:checked ~ .control-1,
#new-carousel-2:checked ~ .control-2,
#new-carousel-3:checked ~ .control-3 {
    display: block;
}

.new-carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.new-carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.new-carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.new-carousel-bullet:hover {
    color: #aaaaaa;
}

#new-carousel-1:checked ~ .control-1 ~ .new-carousel-indicators li:nth-child(1) .new-carousel-bullet,
#new-carousel-2:checked ~ .control-2 ~ .new-carousel-indicators li:nth-child(2) .new-carousel-bullet,
#new-carousel-3:checked ~ .control-3 ~ .new-carousel-indicators li:nth-child(3) .new-carousel-bullet {
    color: #428bca;
}









.new1-carousel {
    position: relative;
}

.new1-carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.new1-carousel-open:checked + .new1-carousel-item {
    position: static;
    opacity: 100;
}

.new1-carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.new1-carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.new1-carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.new1-carousel-control.prev {
    left: 2%;
}

.new1-carousel-control.next {
    right: 2%;
}

.new1-carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#new1-carousel-1:checked ~ .control-1,
#new1-carousel-2:checked ~ .control-2,
#new1-carousel-3:checked ~ .control-3 {
    display: block;
}

.new1-carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.new1-carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.new1-carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.new1-carousel-bullet:hover {
    color: #aaaaaa;
}

#new1-carousel-1:checked ~ .control-1 ~ .new1-carousel-indicators li:nth-child(1) .new1-carousel-bullet,
#new1-carousel-2:checked ~ .control-2 ~ .new1-carousel-indicators li:nth-child(2) .new1-carousel-bullet,
#new1-carousel-3:checked ~ .control-3 ~ .new1-carousel-indicators li:nth-child(3) .new1-carousel-bullet {
    color: #428bca;
}


    </style>
</%block>
